/*Reset CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Cấu hình font chữ trong thẻ html*/
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* các lưu ý khi thiết kế website: => làm từ ngoài vào trong + làm từ trên xuống dưới => Tổng quan đến chi tiết
    1. Vị trí
    2. Kích thước ( width, height)
    3. Màu sắc
    4. Kiểu dáng ( kiểu chữ, màu sắc, hình dạng,..)
*/

/*Common*/

.clear { /*Cấu hình class clear để giải quyết float => đặt ở cuối item float */
    clear: both;
}

.text-white { /* tạo 1 class dành cho chữ mà trắng*/
    color: white !important;
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.btn {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 10%;
    border: none;
}

    .btn:hover {
        color: black;
        background-color: #ccc;
        cursor: pointer;
    }

.row {
    margin-left: -8px;
    margin-right: -8px;
}

    .row::after {
        content: "";
        display: block;
        clear: both;
    }

.col {
    float: left;
    padding-right: 8px;
    padding-left: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.333333%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}
/*Main*/
#main {
}

/*============================================================================================*/

#header { /*Cấu hình id header*/
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#header ul {
    padding: 0px
}

#nav, .subnav {
    list-style-type: none;
}

    #nav li { /*Cấu hình id nav và thẻ con li*/
        display: inline-block;
        position: relative;
    }

    #nav > li > a { /*CSS trực tiếp cho thẻ con cấp 1 ( con trực tiếp của thẻ li thuộc id=nav */
        color: white;
        text-transform: uppercase;
    }

    #nav li a { /*Cấu hình id nav,thẻ con li và thẻ con a của nó*/

        text-decoration: none;
        line-height: 46px;
        padding: 0 24px;
        display: block;
    }

    #nav li:hover .subnav {
        display: block;
    }


    #nav > li:hover > a,
    #nav .subnav li:hover a {
        color: black;
        background-color: #ccc;
    }


    #nav .subnav { /*Cấu hình id nav và class con subnav*/
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #c0abab;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }

        #nav .subnav li {
            width: 100%;
        }

        #nav .subnav a {
            color: black;
            padding: 0 16px;
            line-height: 38px;
        }

    #nav .nav-arround-down {
        font-size: 10px;
    }


#header .search-btn {
    float: right;
    padding: 0 21px;
}

    #header .search-btn:hover {
        cursor: pointer;
        background: red;
    }

#header .search-icon {
    color: white;
    font-size: 20px;
    line-height: 46px;
}


#slider { /*Cấu hình id slider*/
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /*50% chiều ngang của chính nó*/
    background: url(../image/slider/slider1.jpg) top center no-repeat;
    background-size: cover;
}

    #slider .text-content {
        position: absolute;
        bottom: 47px;
        color: white;
        /* left:50%;
    transform: translateX(-50%);  => căn giữa item*/
        text-align: center;
        width: 100%;
    }

    #slider .text-heading {
        margin-bottom: 25px;
        font-weight: 500;
        font-size: 24px;
    }

    #slider .text-decription {
        font-size: 15px;
    }



#content { /*Cấu hình id content*/
}


    #content .section-content {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding: 64px 0 112px;
    }

    #content .section-heading {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        letter-spacing: 4px; /* làm khoảng cách chữ của từ giãn đi. VD: T H E B A N D*/
    }

    #content .section-sub-heading {
        margin-top: 25px;
        text-align: center;
        font-size: 15px;
        font-style: italic;
        opacity: 0.6; /* làm mờ đi. Từ 0 đến 1*/
    }

    #content .about-text {
        margin-top: 25px;
        font-size: 15px;
        text-align: justify;
        line-height: 1.4; /* chỉnh độ cao của dòng. Từ 1.4 với tiếng anh và 1.6 với tiếng việt*/
    }

    #content .members-list {
        margin-top: 48px;
        /* overflow:hidden;*/ /*Do sử dụng float bên thẻ cha không ôm trọn được các thẻ con, sử dụng overflow để loại bỏ việc này*/
    }

    #content .member-item {
        text-align: center;
    }

    #content .member-name {
        font-size: 15px;
    }

    #content .member-img {
        margin-top: 15px;
        width: 154px;
        border-radius: 4px;
    }

    #content .tour-section {
        background-color: black;
    }

    #content .tickets-list {
        background-color: white;
        list-style-type: none;
        margin-top: 40px;
    }

        #content .tickets-list li {
            font-size: 15px;
            color: #757575;
            padding: 11px 16px;
            border-bottom: 1px solid #ddd;
        }

        #content .tickets-list .sold-out {
            margin-left: 16px;
            background-color: #f44336;
            color: white;
            padding: 3px 4px;
        }

        #content .tickets-list .quantity {
            background-color: black;
            color: white;
            padding: 3px 4px;
            float: right;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            text-align: center;
            line-height: 24px;
            margin-top: -3px;
        }

    #content .places-list {
        margin-top: 32px;
    }

    #content .place-body {
        background-color: white;
        padding: 16px;
        font-size: 15px;
    }

    #content .place-heading {
        font-size: 15px;
    }

    #content .place-time {
        margin-top: 15px;
        color: #757575;
    }

    #content .place-desc {
        margin-top: 15px;
        line-height: 1.6;
    }

    #content .place-img {
        width: 100%;
        display: block;
    }

        #content .place-img:hover {
            opacity: 0.6;
        }


.contact-content {
    margin-top: 48px;
}

.contact-infor {
    font-size: 18px;
    line-height: 1.4;
}

    .contact-infor i[class*="ti-"] { /*Css cho các thẻ i có class bắt đầu bằng ti-*/
        width: 30px;
        display: inline-block;
    }

.contact-form {
    font-size: 15px;
}

    .contact-form .form-control {
        padding: 10px;
        border: 1px solid #ccc;
        width: 100%;
    }

.map-section img {
    width: 100%;
}




#footer {
    /*Cấu hình id footer*/
    padding: 64px 16px;
    text-align: center;
}

    #footer .socials-list {
        font-size: 24px;
    }

        #footer .socials-list a {
            text-decoration: none;
            color: rgba(0,0,0,0.6);
        }

            #footer .copyright a,
            #footer .socials-list a:hover {
                color: rgba(0,0,0,0.4);
            }

    #footer .copyright {
        margin-top: 15px;
        color: rgba(0,0,0,0.6);
    }

        #footer .copyright a {
            color: rgba(0,0,0,0.6);
        }




.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    align-content: center;
    justify-content: center;
    display: none;
}

    .modal.open {
        display: flex;
    }

.modal-container {
    background-color: white;
    width: 900px;
    max-width: calc(100% - 32px); /*responsive modal dù co giãn nhỏ hơn độ width thì cũng cách viền trái phải mỗi bên 16px*/
    min-height: 100px;
    position: relative;
    height: fit-content;
    animation: modalFadeIn ease 0.5s; /* khai báo hiệu ứng của model contain */
}

.modal .modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

    .modal-close:hover {
        opacity: 1;
    }

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-tickets {
    width: 100%;
    background-color: #009688;
    border: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

    #buy-tickets:hover {
        opacity: 0.9;
    }

.modal-footer {
    padding: 16px;
    text-align: right;
}

    .modal-footer a {
        color: #2196F3;
    }

@keyframes modalFadeIn { /* Keyframe tạo hiệu ứng hoạt động*/
    from {
        opacity: 0;
        transform: translateY(-150px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
